////////////////
/// MONITORS ///
////////////////

// https://yalter.github.io/niri/Configuration:-Outputs
output "eDP-1" {
    mode "1920x1080@60.000"
    scale 1
    transform "normal"
    position x=0 y=0
}

/////////////////////////////
/// ENVIRONMENT VARIABLES ///
/////////////////////////////

environment {
    XCURSOR_SIZE "24"

    QT_QPA_PLATFORM "wayland;xcb"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
    GDK_BACKEND "wayland,x11,*"

    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"

    _JAVA_AWT_WM_NONREPARENTING "1"
    AWT_TOOLKIT "MToolkit"
}

/////////////
/// INPUT ///
/////////////

// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
		repeat-delay 300
		repeat-rate 30

        xkb {
            layout "us"
            options "compose:ralt"
        }

        // Numlock enabled on startup
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    // Focus follows mouse when it results in at most 50% of the screen getting scrolled
    focus-follows-mouse max-scroll-amount="50%"
}

//////////////
/// LAYOUT ///
//////////////

// https://yalter.github.io/niri/Configuration:-Layout
layout {
    // DMS gap is 5, and focus ring width is 1
    // → niri gaps should be 6
    gaps 6

    background-color "transparent"

    always-center-single-column
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    preset-window-heights { 
        proportion 0.5
        proportion 1.0
    }

    default-column-width { 
        proportion 0.5 
    }

    focus-ring {
        width 1

        // Same colors from Hyprland
        active-gradient from="33ccffee" to="00ff99ee" angle=45
        inactive-color "#595959aa" // Only seen on other monitors
    }

    // You can enable drop shadows for windows.
    shadow {
        on

        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

////////////////////////
/// TOP-LEVEL CONFIG ///
////////////////////////

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

prefer-no-csd

include "autostart.kdl"
include "rules.kdl"
include "binds.kdl"